# Dependencies
node_modules/
.pnpm-store/

# Build and Output
dist/
build/
out/
.nest/
*.tsbuildinfo

# Environment variables & Secrets
.env
.env.local
.env.*.local
!.env.example
*.pem
*.key
*.cert

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing & Coverage
coverage/
.nyc_output/

# IDEs and Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Docker & Temp Files
*.tmp
*.bak
